raisewapp() {
    local appn=$(wmctrl -l | sed -ne "s/.*$(hostname) \(.* - $1\)$/\\1/p")
    test -n "$appn" && wmctrl -R $appn
}
m() { bash tools/md2html.sh ${@:-$(st -m *.md)}; }
c() {
    test -n "${1:-}" || set -- $(st -m *.md)
    test -n "${1:-}" || set index.html
    for i in "$@"; do
        i=${i/.md/.html}
        i=${i/README/index}
        test -r "$i" || i="html/$i"
        test "$i" == "html/" && i="index.html"
        printf "\n> browse file: $i\n"
        bash -c "nohup chromium-browser ${i:-index.html} >/dev/null 2>&1" &
        for i in $(seq 1 5); do sleep 0.1; raisewapp Chromium; done
    done
    echo
}
gptchat() {
    QT_QPA_PLATFORM="xcb" XDG_SESSION_TYPE="xcb" xxdiff . ~/b/${PWD##*/} ;
    bash ~/gpt4all/bin/chat.sh 2>&1 | grep -q . &
}
ge() { gedit "$@" & }
hr() {
  {
    hres index.html;
    for i in i"html/*.html"; do hres $i; done;
  } 2>&1 | grep -ve "Updated .* index";
}
cln() {
    f=$1;
    sed -e "s/^\* /@ /" -e "s,\*,,g" -e 's/^\*\*\* *$/---/' \
        -e 's/\$\\rightarrow\$/→/g' -e 's/\$\\supset\$/⊃/g'  \
        -e 's/\$\\leftrightarrow\$/↔/g' -e 's/\$\\to\$/→/g'   \
        -e 's/\$\\neq\$/≠/g' -e 's/\$\\text{\([^$]*\)}\$/\1/g' \
        -e 's/\$\\cap\$/∩/g' -i $f
    sed -e "s/^\@/\*/" -e "s/\\\%/%/g" -i $f
    for i in Procedural Semantic Cognitive; do
        a=${i:0:1}; sed -e "s/^. $a ($i): /* $a: /" -i $f
    done
    for i in Claim Arch Chain; do
        sed -e "s/^\* ${i^^}:/* $i:/" -i $f
    done
}
revr() {
return 1
local h f=${1:-}
test -n "$f" || return 1
sf | grep -e "^$f$" || return 1
h=$(lg -2 | tail -n1 | cut -d' ' -f2)
test -n "$h" || return 1

cp -f "$f" "$f.revr"
# da qui rimuovere file revr
co $hash "$f" || return 1
# da qui ripristino obbligatorio
echo ":wq" | amd
sf | grep -e "^$f$" && error #TODO
hres "$f"
mv -f "$f.revr" "$f"
st | grep ": *$f"
}
