/* 
 * void Cascading Style Sheet for overriding or customise default.css
 *
 * Use this to import the html to pdf warm CSS for printing on paper
 *
 */
@import url('onpaper.css');

@media print {
    .pagebreak {
        clear: both;
        page-break-after: always;
    }
    div.pagebreak {
        height: 0px;
        width: 0px;    
    }
    hr.pagebreak, div.pagebreak hr, div.pagebreak br, br.pagebreak {
        display: none !important;
        overflow: hidden !important;
        visibility: hidden !important;
        border-color: transparent;
        color: transparent;
        height: 0px;
        width: 0px;
    }
    .hidden, hr.hidden, div.hidden hr, div.pagebreak hr.hidden {
        display: inline-block;
        overflow: hidden !important;
        visibility: hidden !important;
        border-color: transparent;
        color: transparent;
    }
    .topbar, div.topbar, a.topbar { color: black; background-color: white; }
    div.topbar { border: 1px solid; }
    a.topbar { border: none; }
    * {
        -webkit-print-color-adjust: exact !important;   /* Chrome, Safari 6 – 15.3, Edge */
        print-color-adjust: exact !important;           /* Firefox 97+, Safari 15.4+ */
        color-adjust: exact !important;                 /* Firefox 48 – 96 */
    }
}

/*
 * This should be set within the HTML page in order to customise each one
 */
/*

@page { size: A4; } 

@media print { html { zoom: 100%; } }

*/
